
body {
	background-color: #f0f0f0;
	font-family: Arial, sans-serif;
}

.calculator button {
    width: 70px;
    height: 70px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.line {
	display: block;
}

#result {
	width: 320px;
	height: 40px;
	font-size: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
    text-align: right;
    padding-right: 5px;
}